header {
  display: flex;
  justify-content: center;
  flex-grow: 0;
}
header .header_layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header .header_layout .LOGO {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .header_layout .nav {
  flex: 2;
}
header .header_layout .SIGN {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcome_main {
  display: flex;
  flex-direction: column;
}
.welcome_main .part_1 {
  display: flex;
}
.welcome_main .part_1 .contaner {
  display: flex;
  flex-direction: row;
}
.welcome_main .part_1 .contaner .line {
  display: flex;
  flex-direction: column;
}
.welcome_main .part_1 .contaner .main_info .contaner_welcom {
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.welcome_main .part_2 .contaner {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 2.5%;
}
.welcome_main .part_2 .contaner .authorization .contaner {
  display: flex;
  flex-direction: row;
}
.welcome_main .part_2 .contaner .authorization .contaner .form {
  flex-grow: 1;
  flex: 6;
}
.welcome_main .part_2 .contaner .authorization .contaner .form form {
  display: flex;
  flex-direction: column;
}
.welcome_main .part_2 .contaner .authorization .contaner .separate_line {
  flex: 1;
}
.welcome_main .part_2 .contaner .authorization .contaner .logo_authorization {
  flex: 3;
  display: flex;
  margin-left: 5%;
  align-items: center;
}
.welcome_main .part_2 .contaner .logo {
  display: flex;
}

.user_page header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: relative;
}
.user_page header .interactive .contaner {
  display: flex;
  gap: 20px;
  flex-direction: row !important;
}
.user_page main .interactive .visible_area .contaner {
  display: flex;
  flex-direction: column;
}
.user_page main .interactive .visible_area .contaner .sign_in {
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.user_page main .interactive .visible_area .contaner .sign_in form {
  display: flex;
  flex-direction: column;
}
.user_page main .interactive .visible_area .contaner .sign_up {
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.user_page main .interactive .visible_area .contaner .sign_up form {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  background-color: #2c2c2c;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.layout header {
  height: 150px !important;
  flex-shrink: 0;
}
.layout main {
  flex-grow: 1;
}
.layout footer {
  height: 100px;
}

.header {
  background-color: #151515;
  width: 96%;
  margin-top: 15px;
  height: 60%;
  border-radius: 25px;
  box-shadow: -10px 20px 50px rgba(52, 0, 119, 0.5);
}
.header .header_layout {
  position: relative;
  height: 100%;
  width: 100%;
  top: -100%;
  background-color: #151515;
  border-radius: 25px;
}
.header .header_layout .LOGO, .header .header_layout .nav, .header .header_layout .SIGN {
  height: 100%;
}
.header .header_layout .LOGO .name {
  font-size: 35px;
  font-weight: bold;
}
.header .header_layout .SIGN {
  font-size: 20px;
}
.header .header_layout .SIGN .sign_in {
  margin-right: 30px;
}
.header .header_layout .SIGN .sign_up {
  border: 2px solid #fff;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  border-radius: 15px;
}

.header::before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 12px -9px 50px rgba(2, 0, 113, 0.5);
  border-radius: 25px;
  position: relative;
}

.welcome_main .part_1 {
  position: relative;
  flex-direction: row;
}
.welcome_main .part_1 .BG {
  position: relative;
  width: 100% !important;
}
.welcome_main .part_1 .contaner {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-left: 10%;
  padding-right: 2.5%;
  box-sizing: border-box;
}
.welcome_main .part_1 .contaner .line {
  width: 80px !important;
  padding-top: 30px;
}
.welcome_main .part_1 .contaner .line .curcle_head {
  margin-left: auto !important;
  margin-right: auto !important;
}
.welcome_main .part_1 .contaner .line .curcle_head .curcle {
  border: 4px solid rgba(128, 128, 128, 0.4);
  padding: 4px;
  border-radius: 50%;
}
.welcome_main .part_1 .contaner .line .line_1 {
  height: 35%;
  margin-top: 20%;
}
.welcome_main .part_1 .contaner .line .line_1 .line_blur {
  background: linear-gradient(#2C2C2C, #9663D7, #3300FF);
}
.welcome_main .part_1 .contaner .line .line_1 .line_clear {
  background: linear-gradient(#2C2C2C, #9663D7, #3300FF);
  padding: 3px;
  width: 0;
  border-radius: 20px;
}
.welcome_main .part_1 .contaner .line .line_2 {
  height: 50%;
  margin-top: 20%;
}
.welcome_main .part_1 .contaner .line .line_2 .line_blur {
  background: linear-gradient(#3300FF, #00D1ED, #00E1AB);
}
.welcome_main .part_1 .contaner .line .line_2 .line_clear {
  background: linear-gradient(#3300FF, #00D1ED, #00E1AB);
  padding: 3px;
  border-radius: 20px;
}
.welcome_main .part_1 .contaner .line .logo {
  background-color: #D9D9D9;
  padding: 25%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 30px rgba(51, 0, 255, 0.7);
}
.welcome_main .part_1 .contaner .main_info {
  width: 100%;
  height: 100%;
}
.welcome_main .part_1 .contaner .main_info .contaner_welcom {
  height: 100%;
  padding-top: 5%;
  align-items: center;
}
.welcome_main .part_1 .contaner .main_info .contaner_welcom .logo {
  background-color: #D9D9D9;
  width: 225px;
  height: 225px;
  border-radius: 50%;
}
.welcome_main .part_1 .contaner .main_info .contaner_welcom .NAME {
  font-size: 60px;
  font-weight: bold;
}
.welcome_main .part_1 .contaner .main_info .contaner_welcom .description {
  font-size: 25px;
}
.welcome_main .part_2 .contaner {
  padding-left: 5%;
}
.welcome_main .part_2 .contaner .logo {
  padding-left: 5.5%;
  position: relative;
  margin-top: 2%;
  width: 74.891px;
  text-align: center;
  justify-content: center;
}
.welcome_main .part_2 .contaner .logo svg {
  position: relative;
}
.welcome_main .part_2 .contaner .logo .shadow {
  position: absolute;
  width: 40px;
  height: 50px;
  top: 0;
  border-radius: 50%;
  background-color: #00E1AB;
  filter: blur(25px);
  text-align: center;
}
.welcome_main .part_2 .authorization .contaner {
  padding: 0;
  margin-right: 2.5%;
  margin-top: 3%;
  background-color: #181818;
  border-radius: 35px;
  border: 4px solid #30363D;
}
.welcome_main .part_2 .authorization .contaner .form {
  height: 400px;
  margin-top: 2%;
  margin-left: 8%;
}
.welcome_main .part_2 .authorization .contaner .form h1 {
  font-size: 55px;
  font-weight: bold;
  color: #00E1AB;
}
.welcome_main .part_2 .authorization .contaner .form p {
  font-size: 32px;
}
.welcome_main .part_2 .authorization .contaner .form form {
  margin-top: 5%;
  margin-right: 40%;
}
.welcome_main .part_2 .authorization .contaner .form form input {
  margin-bottom: 2%;
  padding: 1%;
  font-size: 18px;
  color: #181818;
  border-radius: 8px;
  border: 2px solid #30363D;
}
.welcome_main .part_2 .authorization .contaner .form form label {
  font-size: 15px;
}
.welcome_main .part_2 .authorization .contaner .form form button {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-right: 5.5%;
  padding-left: 5.5%;
  background-color: #4500D9;
  font-size: 28px;
  border-radius: 10px;
  border: 2px solid #A1A1A1;
}
.welcome_main .part_2 .authorization .contaner .separate_line .line {
  margin-top: 30%;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 0;
  padding: 2px;
  border-radius: 5px;
  background-color: #30363D;
}

.line_node {
  margin-left: auto !important;
  margin-right: auto !important;
}
.line_node .line_clear {
  height: 100%;
  position: relative;
  top: 0;
}
.line_node .line_blur {
  position: relative;
  height: 100%;
  top: -100%;
  filter: blur(15px);
}

.user_page {
  background-color: #0A0A0A;
}
.user_page header {
  padding-top: 1.5%;
  height: auto !important;
  z-index: 1;
}
.user_page header .logo {
  font-size: 50px;
  font-weight: bold;
  margin-left: auto;
  margin-right: 18%;
}
.user_page header .interactive {
  padding-right: 10%;
}
.user_page header .interactive .contaner .active {
  background-color: #005A8C;
}
.user_page header .interactive .contaner button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0A0A0A;
  border: 2px solid #30363D;
  border-radius: 12px;
  font-size: 15px;
}
.user_page header .interactive .contaner button:hover:not(.active) {
  background-color: #30363D;
  transition: all 0.2s linear;
}
.user_page main {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.user_page main .BG {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.user_page main .BG .svg_1 {
  position: absolute;
  top: 0;
  left: 0;
}
.user_page main .BG .svg_2 {
  position: absolute;
  top: 70px;
  left: 130px;
}
.user_page main .BG .svg_3 {
  position: relative;
  top: 64vh;
  left: 80vw;
}
.user_page main .BG .svg_4 {
  position: relative;
  top: 8vh;
  left: 34vw;
}
.user_page main .BG .svg_5 {
  position: absolute;
  top: 60vh;
  left: 26vw;
  animation: spin 80s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.user_page main .interactive {
  position: inherit;
  top: 20vh;
  left: 34vw;
  width: 500px;
  height: 60%;
  background-color: #232323;
  border: 3px solid #30363D;
  border-radius: 20px;
}
.user_page main .interactive .visible_area {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.user_page main .interactive .visible_area .contaner {
  height: 100%;
  position: relative;
  transition: top 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  top: 0;
}
.user_page main .interactive .visible_area .contaner .sign_in {
  height: 100%;
  flex-shrink: 0;
}
.user_page main .interactive .visible_area .contaner .sign_in h1 {
  text-align: center;
  margin-top: 10%;
  font-size: 45px;
  color: #00E1AB;
}
.user_page main .interactive .visible_area .contaner .sign_in form {
  padding-left: 10%;
  padding-right: 10%;
}
.user_page main .interactive .visible_area .contaner .sign_in form label {
  margin-top: 5%;
  margin-left: 4%;
  font-size: 18px;
}
.user_page main .interactive .visible_area .contaner .sign_in form input {
  padding: 2%;
  font-size: 20px;
  border-radius: 10px;
  color: black;
  border: 3px solid #30363D;
}
.user_page main .interactive .visible_area .contaner .sign_in form button {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-right: 5.5%;
  padding-left: 5.5%;
  background-color: #4500D9;
  font-size: 28px;
  border-radius: 10px;
  border: 2px solid #A1A1A1;
  transition: background-color 0.1s linear;
  margin-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
}
.user_page main .interactive .visible_area .contaner .sign_in form button:hover {
  background-color: #6C2DF3;
  transition: background-color 0.1s linear;
}
.user_page main .interactive .visible_area .contaner .sign_in form a {
  margin-top: 5%;
  margin-left: 5%;
  font-size: 20px;
  color: #00D1FF;
}
.user_page main .interactive .visible_area .contaner .sign_up {
  height: 100%;
  flex-shrink: 0;
}
.user_page main .interactive .visible_area .contaner .sign_up h1 {
  text-align: center;
  margin-top: 10%;
  font-size: 45px;
  color: #7C04A6;
}
.user_page main .interactive .visible_area .contaner .sign_up form {
  padding-left: 10%;
  padding-right: 10%;
}
.user_page main .interactive .visible_area .contaner .sign_up form label {
  margin-top: 5%;
  margin-left: 4%;
  font-size: 18px;
}
.user_page main .interactive .visible_area .contaner .sign_up form input {
  padding: 2%;
  font-size: 20px;
  border-radius: 10px;
  color: black;
  border: 3px solid #30363D;
}
.user_page main .interactive .visible_area .contaner .sign_up form button {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-right: 5.5%;
  padding-left: 5.5%;
  background-color: #4500D9;
  font-size: 28px;
  border-radius: 10px;
  border: 2px solid #A1A1A1;
  transition: background-color 0.1s linear;
  margin-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
}
.user_page main .interactive .visible_area .contaner .sign_up form button:hover {
  background-color: #6C2DF3;
  transition: background-color 0.1s linear;
}