$BG: #2c2c2c;
$Text_color: #fff;

$Header_BG: #151515;
$Header_shadow_1: rgba(52,0,119,0.5);
$Header_shadow_2: rgba(2,0,113,0.5);

$authorization_h_color: #00E1AB;

$user_page_BG: #0A0A0A;
$user_page_buttons_horisontal_pading: 30px;
$user_page_buttons_vertical_pading: 10px;